/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

// Typography styles
h1, h2, h3 {
    font-family: 'Frank Ruhl Libre', sans-serif;
}

// Background Graduent
.navbar, .home-callout {
    background: #16BFFD; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #16BFFD , #CB3066); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #16BFFD , #CB3066); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// nav styles
.navbar {
    border: none;
    margin-bottom: -20px;
    border-radius: 1px;
}

// home page styles
.home-callout {
    color: white;
    padding-bottom: 100px;
    padding-top: 100px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a 
{
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}
