// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar-show-img {
    width: 128px;
    height: 128px;
}

.profile-icons {
    // background: blue;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}

.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.well.profile-contact-info {
    background-color: #5bc0de;
    border-color: #46b8da;
}

// User Index Page Styles
.user-index-avatar {
    width: 128px;
    height: 128px;
}

.well.white-bg {
    background-color: white;
}